@page
@model Exercises.Pages.Lesson1.Assignment1

@{
    Layout = null;
}

<div>
    <p>
        <span id="scoreHome">@Model.HomeScore</span> - <span id="scoreAway">@Model.AwayScore</span>
    </p>
    <div>
        <a href="?addHomeScore=@Model.AddHomeScore">Home ++</a>
        <a href="?decreaseHomeScore=@Model.DecreaseHomeScore">Home --</a>

        <a href="?addAwayScore=@Model.AddAwayScore">Away ++</a>
        <a href="?decreaseAwayScore=@Model.DecreaseAwayScore">Away --</a>
    </div>
    <>
        <a id="reset" href="?resetScore=@Model.ResetScore">Reset</a>
    </>
</div>


